<h1>New Article</h1>

<% if @article && @article.errors.any? %>
  <h2>Errors while saving article</h2>
  <ul class="error">
  <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p><%= link_to 'Cancel and return to articles', articles_path %></p>