<div class="row">
  <div class="col">
    <h1 class="text-center">Edit category</h1>
  </div>
</div>

<%= render 'shared/errors', obj: @category %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= form_with(model: @category, local: true) do |f| %>
      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.label :name, class: "col-form-label" %>
        </div><!-- col-sm-2 -->
        <div class="col-sm-5">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of category", autofocus: true %>
        </div><!-- col-sm-10-->
      </div><!-- form-group -->
      <div class="form-group row">
        <div class="col-sm-6 offset-sm-2">
          <%= f.submit class: "btn btn-primary" %>
          <%= link_to 'Cancel', categories_path, class: "btn btn-link ml-2" %>
        </div><!-- col-sm-6 -->
      </div><!-- form-group -->
    <% end %>
  </div><!-- col-sm-12 -->
</div><!-- row -->